<header>
  <nav class="navbar navbar-expand-lg custom-bg shadow-sm py-2">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="#">
        Tnine Sales
      </a>
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle p-0 border-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="avatar.png"
              alt="User Avatar"
              class="rounded-circle"
              style="width: 40px; height: 40px; object-fit: cover;"
            />
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" ng-click="vm.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
