<header>
    <nav class="nav navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="d-flex align-content-center justify-content-between">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." />
                    <button class="btn btn-outline-primary">Search</button>
                </div>
                <div>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>