.custom-bg {
  background-color: #343a40;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover {
  color: #adb5bd;
}

.navbar .dropdown-toggle {
  transition: all 0.3s ease;
}

.navbar .dropdown-toggle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar .dropdown-menu {
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-menu a {
  font-size: 14px;
  color: #343a40;
}

.navbar .dropdown-menu a:hover {
  background-color: #f8f9fa;
  color: #000;
}
