<header>
    <nav class="bg-light p-3">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <button class="btn btn-outline-primary">Search</button>
                    </div>
                </div>
                <div>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" alt="avt-user" class="rounded-circle" />
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ng-click="vm.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
    </nav>
</header>