<aside class="sidebar bg-light">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
        <img src="~/wwwroot/assets/logo.jpeg" alt="tnine-logo" /> 
        <button class="btn btn-primary">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <div>
        <ul class="nav flex-column p-3">
            <li class="nav-item">
                <a class="nav-link active" ui-sref="home">
                    <i class="fa-solid fa-house"></i>
                    <span class="ms-2">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="todo">
                    <i class="fa-solid fa-pen"></i>
                    <span class="ms-2">Todo</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
