<div class="input-group mb-3">
    <span class="input-group-text" ng-if="vm.text">
        {{vm.text}}
        <span ng-if="vm.isRequired" class="text-danger">*</span>
    </span>

    <select class="form-select {{vm.class}} shadow-sm" ng-model="vm.selectedItem"
        ng-options="item[vm.key] as item[vm.inputLabel] for item in vm.items" ng-change="vm.onSelectChange()"
        ng-disabled="vm.isDisabled" ng-required="vm.isRequired">

        <option value="" disabled selected hidden ng-if="vm.placeholder">{{vm.placeholder}}</option>
    </select>
</div>

<div class="text-danger mt-1" ng-if="vm.isValidated && !vm.value">
    <small>{{vm.errorMessage}}</small>
</div>