
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
</head>
<body>
    <div> 
        <h1>Index</h1>
        10 + 10 = {{10 + 10}}
    </div>
</body>
</html>
