<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="tnine" ng-controller="">
    <div ui-view></div>

    <script src="~/wwwroot/lib/angular/angular.js"></script>
</body>
</html>
