
@{
    ViewBag.Title = "Tnine Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="root">
    <div ui-view></div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/common")
