
@{
    ViewBag.Title = "Tnine Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.2/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-aria/1.8.2/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.8.2/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="//www.ag-grid.com/archive/20.2.0/dev/ag-grid-community/dist/ag-grid-community.js"></script>


@*<link rel="stylesheet" href="~/app/node_modules/angular-material/angular-material.min.css" />
    <script src="~/app/node_modules/angular/angular.min.js"></script>
    <script src="~/app/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="~/app/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="~/app/node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="~/app/node_modules/angular-material/angular-material.min.js"></script>*@

<div ng-app="root">
    <div ui-view></div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/common")
