<div class="row">
   <div class="col-md-12 mb-3">
       <label for="username" class="form-label">Username</label>
       <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" />
   </div>
   <div class="col-md-12 mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" />
   </div>
   <div class="col-md-12 mb-3">
        <button class="btn btn-primary" (click)="login()">Login</button>
   </div>
</div>