    <div class="modal fade" id="createOrEditProductModal" tabindex="-1" role="dialog" aria-labelledby="createOrEditProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span ng-if="!vm.product.Id">Create</span>
                        <span ng-if="vm.product.Id">Edit</span>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-disabled="vm.saving"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Name*</span>
                                        <input type="text" class="form-control" ng-model="vm.product.Name" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Description</span>
                                        <input type="text" class="form-control" ng-model="vm.product.Description" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Price*</span>
                                        <input type="text" class="form-control" ng-model="vm.product.Price" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Category*</span>
                                        <select class="form-select" ng-model="vm.product.CategoryId"
                                                ng-options="category.Id as category.Name for category in vm.listCategory">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-repeat="variation in vm.ProductVariation">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="vm.removeProductVariation(variation)" style="font-size: 12px; padding: 2px 6px;">
                                                X
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Color*</span>
                                                <select class="form-select" ng-model="variation.ColorId"
                                                        ng-options="color.Id as color.Code for color in vm.listColors">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Size*</span>
                                                <select class="form-select" ng-model="variation.SizeId"
                                                        ng-options="size.Id as size.Name for size in vm.listSizes">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <!--<div class="col-md-4">
                                            <div class="input-group mb-4">
                                                <span class="input-group-text">Quantity*</span>
                                                <input type="text" class="form-control" ng-model="variation.Quantity" placeholder="">
                                            </div>
                                        </div>-->
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-primary" ng-click="vm.addProductVariation()" style="font-size: 15px;">
                                        <i class="fa-solid fa-plus me-1"></i><span>Quick add variation</span>
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control"  multiple accept="image/*" onchange="angular.element(this).scope().vm.uploadImages(event)">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 mb-3" ng-repeat="img in vm.ImgUrl">
                                        <div class="card">
                                            <img src="wwwroot/{{img.ImgUrl}}" class="card-img-top" alt="Uploaded image preview" style="height: 100px; object-fit: cover; width: 80px">
                                            <button type="button" class="btn btn-xs btn-danger" ng-click="vm.removeImage(img)" style="position: absolute; top: 5px; right: 5px; font-size: 10px; padding: 2px 5px;">
                                                <i class="fa fa-trash" style="font-size: 10px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-outline-primary"
                            ng-click="vm.save()"
                            ng-disabled="vm.saving || vm.isSaveDisabled()">
                        <i class="fa-regular fa-floppy-disk me-1"></i>
                        <span>Save</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger" ng-click="vm.close()" ng-disabled="vm.saving">
                        <i class="fa-solid fa-xmark me-1"></i>
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
