
<style>
.md-autocomplete-suggestions-container {
    z-index: 1060 !important;
}
</style>

<div class="modal fade" id="createOrEditInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="createOrEditInvoiceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="!vm.invoice.Id">Create invoice</span>
                    <span ng-if="vm.invoice.Id">Edit invoice</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-disabled="vm.saving"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <md-datepicker ng-model="vm.invoice.CreationTime" md-placeholder="Creation Time" disabled></md-datepicker>
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Customer Name</label>
                            <input ng-model="vm.invoice.CustomerName">
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Total</label>
                            <input ng-model="vm.invoice.Total">
                          </md-input-container>
                    </div>
                    <div class="col-md-12 mb-4">
                        <md-autocomplete
                            placeholder="Please select payment status"
                            ng-required="true"
                            ng-disabled="false"
                            md-no-cache="true"
                            md-min-length="0"
                            md-item-text="item.Name"
                            md-search-text="vm.searchTextPaymentStatus"
                            md-selected-item="vm.selectedPaymentStatus"
                            md-selected-item-change="vm.selectedItemChangePaymentStatus(item)"
                            md-items="item in vm.querySearchPaymentStatus(vm.searchTextPaymentStatus)">
                            <md-item-template>
                                <span md-highlight-text="vm.searchTextPaymentStatus" md-highlight-flags="^i">{{item.Name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No payment status matching "{{vm.searchTextPaymentStatus}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div class="col-md-12">
                        <md-autocomplete
                            placeholder="Please select payment method"
                            ng-required="true"
                            ng-disabled="false"
                            md-no-cache="true"
                            md-min-length="0"
                            md-item-text="item.Name"
                            md-search-text="vm.searchTextPaymentMethod"
                            md-selected-item="vm.selectedPaymentMethod"
                            md-selected-item-change="vm.selectedItemChangePaymentMethod(item)"
                            md-items="item in vm.querySearchPaymentMethod(vm.searchTextPaymentMethod)">
                            <md-item-template>
                                <span md-highlight-text="vm.searchTextPaymentMethod" md-highlight-flags="^i">{{item.Name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No payment method matching "{{vm.searchTextPaymentMethod}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" ng-click="vm.save()" ng-disabled="vm.saving">
                    <i class="fa-regular fa-floppy-disk me-1"></i>
                    <span>Save</span>
                </button>
                <button type="button" class="btn btn-outline-danger" ng-click="vm.close()" ng-disabled="vm.saving">
                    <i class="fa-solid fa-xmark me-1"></i>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
