<div ng-controller="warehouseReceiptController as vm">
    <div id="myGrid" class="ag-theme-alpine mb-3" ag-grid="vm.gridOptions" style="height: 400px; width: 100%;"></div>

    <div class="d-flex float-end">
        <div>
            <md-button type="button" class="md-raised md-primary" ng-click="vm.add()">
                <i class="fa-solid fa-plus"></i>
                Add
            </md-button>
            <md-button type="button" class="md-raised md-primary" ng-disabled="!vm.selectedId" ng-click="vm.viewDetail()">
                <i class="fa-solid fa-pen"></i>
                View Detail
            </md-button>
        </div>
    </div>
    <create-or-edit-warehouse-receipt-modal on-saved="vm.reloads()"> </create-or-edit-warehouse-receipt-modal>
    <view-detail-modal></view-detail-modal>
</div>