@{ 
    Layout = null;

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-app="tnine.todo" ng-controller="todoController">
    <div ui-view></div>
    10 + 10 = {{10 + 10}}

    <!-- AngularJS first -->
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <script src="~/wwwroot/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- Your custom AngularJS modules and controllers -->
    <script src="~/app/shared/common/tnine.common.js"></script>
    <script src="~/app/pages/todo/todo.module.js"></script>
    <script src="~/app/pages/todo/todoController.js"></script>
</body>
</html>
