<connectionStrings>
	<clear />
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-MS3F356;Initial Catalog=tnine-test;User Id=sa;Password=123456;Integrated Security=True" />
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=08VNF43WCK2;Initial Catalog=tnine-test;User Id=sa;Password=123456;Integrated Security=True" />-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3BRPI3V\SQLEXPRESS02;Initial Catalog=tnine_test;Integrated Security=True" />-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=Admin-PC\SQLEXPRESS;Initial Catalog=tnine-test;User Id=sa;Password=123456789;Integrated Security=True" />-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-FO7GFQ3G;Initial Catalog=tnine;User Id=sa;Password=123456;Integrated Security=True" />-->
	-->
	<!--
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=08VNF43WCK2;Initial Catalog=tnine-test;User Id=sa;Password=123456;Integrated Security=True" />
	-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3BRPI3V\SQLEXPRESS02;Initial Catalog=tnine_test;Integrated Security=True" />
	-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=Admin-PC\SQLEXPRESS;Initial Catalog=tnine-test;User Id=sa;Password=123456789;Integrated Security=True" />-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-FO7GFQ3G;Initial Catalog=tnine;User Id=sa;Password=123456;Integrated Security=True" />-->
	
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3BRPI3V\SQLEXPRESS02;Initial Catalog=tnine_test;Integrated Security=True" />-->
	<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-K665D7S;Initial Catalog=tnine_test;User Id=sa;Password=123456;Integrated Security=True" />-->

</connectionStrings>