<connectionStrings>
	<clear />
	<!--
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-U9EIMG5;Initial Catalog=tnine-test;Integrated Security=True" />
	    -->
	<!--
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=08VNF43WCK2;Initial Catalog=tnine-test;User Id=sa;Password=123456;Integrated Security=True" />
		-->
	<!--
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=08VNF43WCK2;Initial Catalog=tnine-test;User Id=sa;Password=123456;Integrated Security=True" />
	-->
	
	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-PA5RPVKD;Initial Catalog=tnine-test;Integrated Security=True" />

</connectionStrings>