<div class="modal fade" id="createOrEditPaymentMethodsModal" tabindex="-1" role="dialog" aria-labelledby="createOrEditPaymentMethodsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="!vm.paymentMethods.Id">Create</span>
                    <span ng-if="vm.paymentMethods.Id">Edit</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-disabled="vm.saving"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name*</span>
                            <input type="text" class="form-control" ng-model="vm.paymentMethods.Name" placeholder="Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-primary"
                        ng-click="vm.save()"
                        ng-disabled="vm.saving || vm.isSaveDisabled()">
                    <i class="fa-regular fa-floppy-disk me-1"></i>
                    <span>Save</span>
                </button>
                <button type="button" class="btn btn-outline-danger" ng-click="vm.close()" ng-disabled="vm.saving">
                    <i class="fa-solid fa-xmark me-1"></i>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
